<!--bookを受け取る-->

<div class="comments">
  
<p>コメント件数：<%= @book.book_comments.count %></p>

<% @book.book_comments.each do |book_comment| %>
  <%= attachment_image_tag(book_comment.user, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg") %>
  <%= book_comment.user.name %>
<% end %>

</div>

<div class="new-comment">
<%= form_with(model:[@book, @post_comment], local: true) do |f| %>
  <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
  <%= f.submit "送信する" %>
<% end %>
</div>